<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Please enter your Name Below</h1>
      <div class="col-xs-12">
        <input type="text" [(ngModel)]="username" (input)="validateUsername($event)">
        <p>{{userstatus}}</p>
        <button class="btn btn-primary" [disabled]="!validUsername" (click)="onCreateUser()">New user</button>
        <button class="btn btn-danger" (click)="resetUser()">Reset</button>
      </div>
    </div>
  </div>
</div>
